@import 'global-styles/globals.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
};

html, body {
  height: 100%;
}

html {
  background-color: $light-gray;
  font-family: $font-Outfit;
};

body {
  display: grid;
  place-content: center;
}

